body{
    background: rgba(0,0,0,0.95);
}
.chat{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    white-space: nowrap;
}
.mainWindow{
    border-right: solid 2px gray;
    position: relative;
    width: 70%;
    top: 0;
    height: 100%;
    float: left;
    bottom: 10px;
    overflow-x: hidden;
    overflow-y: auto;
}
.usersOnline{
    border-left: solid 2px gray;
    top: 0;
    position: relative;
    width: 29%;
    height: 100%;
    float: left;
    bottom: 10px;
    overflow-x: hidden;
    overflow-y: auto;
}
.message{
    position: absolute;
    left: 1%;
    bottom: 1%;
    width: 87%;
}
.sendButton{
    position: absolute;
    right: 1%;
    bottom: 1%;
    width: 10%;
}
.confirmNameButton{
    position: absolute;
    right: 1%;
    bottom: 1%;
    width: 20%;
}
.upperLineMain{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    font-family: cursive;
    height: 1.2em;
    border-bottom: solid 4px grey;
}
.upperLineUsers{
    position: absolute;
    top: 0;
    left: 0;
    width: 150%;
    font-family: cursive;
    height: 1.2em;
    border-bottom: solid 4px grey;
}
.usernameLine{
    position: absolute;
    left: 2%;
    bottom: 1%;
    width: 100%;
}
.username{
    width: 75%;
}
.message1{
    position: relative;
    padding: 0.1em;
    max-width: 100%;
    margin-top: 6px;
    margin-right: 10px;
    margin-left: 10px;
    border-bottom: solid 2px gray;
}
.text{
    display: inline;
    margin: 0;
    font-size: 16px;
    font-family: cursive;
    white-space: pre-wrap;
    word-wrap: break-word;
}
.nickname{
    color: darkcyan;
}
.delete{
    position: absolute;
    right: -11px;
    top: -8px;
    visibility: hidden;
}
.edit{
    position: absolute;
    right: -11px;
    top: 8px;
    visibility: hidden;
}
